@import "../../assets/gvar.scss";

.termsparent {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-direction: column;
}

.termsparent .term5 {
    display: flex;
}

.termsparent .term10 {
    display: flex;
}

.termsparent .term15p {
    display: flex;
}
@media screen and (min-width: 640px) {
    .termsparent {
        flex-direction: row;
    }
    .termsparent .term5 {
        width: 33%;
        display: flex;
    }
    
    .termsparent .term10 {
        width: 33%;
        display: flex;
    }
    
    .termsparent .term15p {
        width: 33%;
        display: flex;
    }
}

.term {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: $borderstylelight;
    margin: 10px;
}

.rowbold {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    height: 40px;
    padding: 10px 20px 0px 20px;
    align-items: center;
}

.rowbold2 {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    height: 40px;
    padding: 0px 20px 0px 20px;
    align-items: center;
}

.rowlite {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    height: 40px;
    color: $greytextcolor;
    padding: 0px 20px 10px 20px;
    align-items: center;
}

hr {
    margin: 20px;
}


.header {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.purple {
    color: $purplebackground;
}
.header5 {
    background-color: $purplebackground;
}

.cyan {
    color: darkcyan;
}
.header10 {
    background-color: darkcyan;
}

.orange {
    color: orange;
}
.header15p {
    background-color: orange;
}
