<div class="termsparent">
    <div class="term term5">
        <div class="header header5">
            5 years
        </div>
        <div class="rowbold">
            <div>
                Interest Rate
            </div>
            <div class="purple">
                4.25% 
            </div>
        </div>
        <div class="rowlite">
            <div>
                65% LTV
            </div>
            <div>
                $2.239.689
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="rowbold">
            <div>
                Loan Term
            </div>
            <div class="purple">
                5 years
            </div>
        </div>
        <div class="rowbold2">
            <div>
                Amortization
            </div>
            <div class="purple">
                5 years
            </div>
        </div>
    </div>
    <div class="term term10">
        <div class="header header10">
            10 years
        </div>
        <div class="rowbold">
            <div>
                Interest Rate
            </div>
            <div class="cyan">
                4.65% 
            </div>
        </div>
        <div class="rowlite">
            <div>
                65% LTV
            </div>
            <div>
                $2.239.689
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="rowbold">
            <div>
                Loan Term
            </div>
            <div class="cyan">
                10 years
            </div>
        </div>
        <div class="rowbold2">
            <div>
                Amortization
            </div>
            <div class="cyan">
                20 years
            </div>
        </div>
    </div>
    <div class="term term15p">
        <div class="header header15p">
            15+ years
        </div>
        <div class="rowbold">
            <div>
                Interest Rate
            </div>
            <div class="orange">
                4.75% 
            </div>
        </div>
        <div class="rowlite">
            <div>
                65% LTV
            </div>
            <div>
                $2.239.689
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="rowbold">
            <div>
                Loan Term
            </div>
            <div class="orange">
                15 years
            </div>
        </div>
        <div class="rowbold2">
            <div>
                Amortization
            </div>
            <div class="orange">
                20 years
            </div>
        </div>
    </div>
</div>