/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Questrial", sans-serif !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
