<form class="loan-input-form">
    <div class="flex-container">
        <div class="header">
            <h2>COMMERCIAL REAL ESTATE <br> QUOTE TOOL</h2>
        </div>
        <div class="details">
            <div>
                <label>What kind of property do you have?</label>
            </div>
            <div>
                <select class="maxLenSelect" required>
                    <option value="type1">Multi-Family</option>
                    <option value="type2">Single-Family</option>
                </select>
            </div>
            <div>
                <label>How much is it worth?</label>
            </div>
            <div>
                <select class="maxLenSelect" required>
                    <option value="range1">$5,000,000 - $10,000,000</option>
                    <option value="range2">$10,000,001 - $15,000,000</option>
                </select>
            </div>
            <div>
                <label>How much would you like to borrow?</label>
            </div>
            <div>
                <input class="maxLen" value="$2,239,689">
            </div>
            <div>
                <label>What's the property's annual income?</label>
            </div>
            <div>
                <select required class="maxLenSelect">
                    <option value="inc1">$5,000,000 - $10,000,000</option>
                    <option value="inc2">$10,000,001 - $15,000,000</option>
                </select>
            </div>
            <div class="btnStart">
                <h2>START OVER</h2>
            </div>
        </div>
    </div>
</form>