@import '../../assets/gvar.scss';

.header {
    background-color: $purplebackground;
    color: $whitebackground;
    padding: 25px;
    height: 20%;
}

.loan-input-form {
    border: $borderstyle;
    background-color: $whitebackground;
}

.loan-input-full-width {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.details {
    padding: 25px;
}

.maxLenSelect{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maxLen{
    width: 99%;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnStart{
    color: $green;
    text-align: center;
}