<div class="dashboard">
  <div class="loaninput">
    <app-loan-input></app-loan-input>
  </div>
  <div class="rightpanel">
    <div class="loanoptions">
      <h1>HERE ARE YOUR LOAN OPTIONS</h1>
    </div>
    <div class="rightpaneldetails">
      <div class="loanterms">
        <app-loan-terms></app-loan-terms>
      </div>
      <div class="loancontact">
        <app-loan-contact></app-loan-contact>
      </div>
    </div>
  </div>
</div>