@import "../assets/gvar.scss";

.loaninput {
    width: 100%;
    margin-left: 3%;
}
.dashboard {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rightpanel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 640px) {
    .loaninput {
        width: 25%;
        margin-left: 6%;
    }
    .dashboard {
        flex-direction: row;
    }

    .rightpanel {
        width: 75%;
        margin-right: 3%;
    }
}

.dashboard .loanoptions {
    height: 10%;
    color: $greytextcolor;
    align-self: center;
}

.dashboard .rightpaneldetails {
    background-color: rgb(252, 250, 250);
}
.dashboard .rightpaneldetails .loanterms {
    padding-top: 1%;
    padding-bottom: 1%;
}

.dashboard .rightpaneldetails .loancontact {
    padding-left: 4.6%;
    padding-right: 4.6%;
}
