<div class="parentdiv">
    <div class="contactnext">
        <h1>What's Next?</h1>
    </div>
    <div class="contactsignup">
        Ready to talk about your loan? Fill up the form below and we'll get in touch with you as soon as possible.
        <br>Or, if you're ready, <span>sign up</span> with us to apply for a loan immediately
    </div>
    <div class="contactdetails">
        <div >
            Full Name
        </div>
        <div >
            <input>
        </div>
        <div>
            Email Address
        </div>
        <div>
            <input>
        </div>
        <div>
            Mobile Number
        </div>
        <div>
            <input value="+1">
        </div>
        <div>
            <input class="btncontact" type="button" value="CONTACT US">
        </div>
        <div>
            <input class="btnsignup" type="button" value="SIGN UP">
        </div>
    </div>
</div>