@import "../../assets/gvar.scss";

.contactdetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactdetails .div {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .parentdiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px lightgray;
    }

    .contactdetails {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 30%;
    }
}

span {
    color: $green;
}

.contactnext {
    height: 10%;
    color: $greytextcolor;
    text-align: center;
}

.contactsignup {
    text-align: center;
}

input {
    width: 100%;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="button"] {
    height: 30px;
    width: 101%;
}

.btncontact {
    background-color: $green;
    color: white;
}
.btnsignup {
    background-color: transparent;
    color: $green;
    border-style: none;
}
