$green: green;
$greytextcolor: grey;
$purplebackground: rgb(56, 10, 56);
$lightgrey:  rgb(235, 232, 232);
$borderstyle: solid 1px $lightgrey;
$borderstylelight: solid 1px $lightgrey;
$whitebackground: white;